.flexItem {
  width: 100%;
}
.groupInput {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
}
.textItem {
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  flex: 1;
  max-height: 24px;
  margin-right: 10px;
}

.list {
  overflow: auto;
  overflow-x: hidden;
  max-height: 80vh;
}
